:root {
  --main-color-bg: rgb(255, 255, 255);
  --color-texto-h3: rgba(0, 0, 0, 80%);
  --color-texto-h1: rgba(255, 153, 0, 80%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: var(--main-color-bg);
}
h3 {
  font-size: 1.5rem;
  color: var(--color-texto-h3);
  text-align: center;
}
h1 {
  color: var(--color-texto-h1);
}
a {
  display: flex;
  text-decoration: none;
}
.home {
  animation-name: fade;
  animation-duration: 1.5s;
}
.skills {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
